@font-face {
  font-family: 'sora-regular';
  src: url('../../src/assets/fonts/Sora-Regular.ttf');
}

@font-face {
  font-family: 'sora-semi-bold';
  src: url('../../src/assets/fonts/Sora-SemiBold.ttf');
}

@font-face {
  font-family: 'sora-light';
  src: url('../../src/assets/fonts/Sora-Light.ttf');
}
